<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NorthwindContext" 
         connectionString="Server = (localdb)\v11.0; Initial Catalog= Northwind; Integrated Security=true" 
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>